# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Models
models/*.pt
models/*.engine
models/*.pkl

# Videos
videos/
outputs/

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.dbvenv/
__pycache__/
*.pyc

outputs/
runs/

*.pt
*.engine
*.pkl

*.mp4
*.avi

.idea/
.vscode/

